/* You can add global styles to this file, and also import other style files */
.me-pic {
  height: 70px;
  width: 70px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  background:url('assets/images/about_me.png') no-repeat center center;
}
