<div class="container">
    <!-- Show it when there is nt person -->
    <div class="no-data text-center" *ngIf="people.length == 0">
      <button class="btn btn-outline-primary" (click)="[loadAllPeople()]" >
          <i class="fa fa-spinner fa-spin" *ngIf="buttonText === 'Consuming data ...'"></i>
          {{ buttonText }}
      </button>
    </div>

    <!-- Employees list table, it hides when there is nt person -->
    <div *ngIf="people.length !== 0">
      <div *ngIf="malePets.length !== 0">
        <h3 class="mb-3">Male</h3>
        <div class="col-md-12">
          <ul>
            <li *ngFor="let pet of malePets | callback: filterIsCat">
              {{ pet.name }}
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="femalePets.length !== 0">
          <h3 class="mb-3">Female</h3>
          <div class="col-md-12">
            <ul>
              <li *ngFor="let pet of femalePets | callback: filterIsCat">
                {{ pet.name }}
              </li>
            </ul>
          </div>
        </div>
    </div>

    <div class="no-data text-center" *ngIf="people.length != 0">
      <button class="btn btn-outline-primary" (click)="[loadAllPeople()]" >{{ buttonText }}</button>
    </div>
  </div>
